.sidebar {
    border: 2px solid grey;
    background-color: #262626;
    min-height: 200px;
    min-width: 150px;
    max-width: 150px;
    padding: none;
}

.bar {
    box-sizing: border-box;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 0.25rem;
}