.field {
  display: block;
}

.fieldRow {
  display: flex;
}

.button {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background: #fff;
  color: black;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}